body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.sidebar {
    width: 260px;
    background: #020617;
    height: 100vh;
    padding: 15px;
    position: fixed;
}

.sidebar input, button {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
}

.main {
    margin-left: 260px;
    padding: 20px;
}

video {
    width: 100%;
    height: 360px;
    background: black;
}

.card {
    background: #1e293b;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.card:hover {
    background: #334155;
}
